// child padding classes
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @each $spacerNum, $spacerValue in $spacers {
      .cpl#{$infix}-#{$spacerNum} {
        > *:not(:first-child) {
          padding-left: $spacerValue;
        }
      }
      .cpt#{$infix}-#{$spacerNum} {
        > *:not(:first-child) {
          padding-top: $spacerValue;
        }
      }
      .cml#{$infix}-#{$spacerNum} {
        > *:not(:first-child) {
          margin-left: $spacerValue;
        }
      }
      .cmt#{$infix}-#{$spacerNum} {
        > *:not(:first-child) {
          margin-top: $spacerValue;
        }
      }
    }
  }
}

// row spacers
@each $spacerNum, $spacerValue in $spacers {
  .row.row-#{$spacerNum} {
    margin-left: -$spacerValue;
    margin-right: -$spacerValue;
    > [class*="col-"] {
      padding-right: $spacerValue;
      padding-left: $spacerValue;
    }
  }
}

// border-radius
@for $i from 1 through 10 {
  .br-#{$i * 2} {
    border-radius: #{$i * 2}px !important;
  }
}

// font-size
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @each $fontSizeNum, $fontSizeValue in $spacers {
      .f#{$infix}-#{$fontSizeNum} {
        font-size: #{$fontSizeValue} !important;
      }
    }
  }
}

//z-index
@for $i from 1 through 10 {
  .z-#{$i} {
    z-index: #{$i} !important;
  }
}

// grid stuff
.d-grid {
  display: grid;
}
@for $i from 1 through 10 {
  .gcs-#{$i} {
    grid-column-start: $i;
  }
  .gce-#{$i} {
    grid-column-end: $i;
  }
  .grs-#{$i} {
    grid-row-start: $i;
  }
  .gre-#{$i} {
    grid-row-end: $i;
  }
}

// // percent wh
// $wh-size-base: 1;
// $wh-sizes: () !default;
// $wh-sizes: map-merge(
//   (
//     5: $wh-size-base * 0.05,
//     10: $wh-size-base * 0.1,
//     15: $wh-size-base * 0.15,
//     20: $wh-size-base * 0.2,
//     25: $wh-size-base * 0.25,
//     30: $wh-size-base * 0.3,
//     35: $wh-size-base * 0.35,
//     40: $wh-size-base * 0.4,
//     45: $wh-size-base * 0.45,
//     50: $wh-size-base * 0.5,
//     55: $wh-size-base * 0.55,
//     60: $wh-size-base * 0.6,
//     65: $wh-size-base * 0.65,
//     70: $wh-size-base * 0.7,
//     75: $wh-size-base * 0.75,
//     80: $wh-size-base * 0.8,
//     85: $wh-size-base * 0.85,
//     90: $wh-size-base * 0.9,
//     95: $wh-size-base * 0.95,
//     100: $wh-size-base * 1
//   ),
//   $wh-sizes
// );

// @each $breakpoint in map-keys($grid-breakpoints) {
//   @include media-breakpoint-up($breakpoint) {
//     $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
//     @each $whSizeNum, $whSizeValue in $font-sizes {
//       .w#{$infix}-#{$whSizeNum} {
//         font-size: $whSizeValue;
//       }
//     }
//   }
// }

// // fixed wh
// $wh-size-base: 1rem;
// $wh-sizes: () !default;
// $wh-sizes: map-merge(
//   (
//     5: $wh-size-base * 0.05,
//     10: $wh-size-base * 0.1,
//     15: $wh-size-base * 0.15,
//     20: $wh-size-base * 0.2,
//     25: $wh-size-base * 0.25,
//     30: $wh-size-base * 0.3,
//     35: $wh-size-base * 0.35,
//     40: $wh-size-base * 0.4,
//     45: $wh-size-base * 0.45,
//     50: $wh-size-base * 0.5,
//     55: $wh-size-base * 0.55,
//     60: $wh-size-base * 0.6,
//     65: $wh-size-base * 0.65,
//     70: $wh-size-base * 0.7,
//     75: $wh-size-base * 0.75,
//     80: $wh-size-base * 0.8,
//     85: $wh-size-base * 0.85,
//     90: $wh-size-base * 0.9,
//     95: $wh-size-base * 0.95,
//     100: $wh-size-base * 1
//   ),
//   $wh-sizes
// );

// @each $breakpoint in map-keys($grid-breakpoints) {
//   @include media-breakpoint-up($breakpoint) {
//     $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
//     @each $whSizeNum, $whSizeValue in $font-sizes {
//       .w#{$infix}-#{$whSizeNum} {
//         font-size: $whSizeValue;
//       }
//     }
//   }
// }
